#tab4 #terminal { 
    overflow: scroll; 
    background: #1a1a1a;
    width: 100%; 
    height: 100%; 
    color: #fff; 
    padding: 5px; 
    line-height: 135%; 
}
    
#tab4 #terminal .command { 
    font-weight: bold; 
    color: #8a8af2; 
}

#tab4 #terminal .data { 
    padding: 0 15px; 
}
    
#tab4 #terminal #command, 
#tab4 #terminal #command input { 
    display: block; 
    position: relative; 
    background: #1a1a1a; 
    color: #fff; 
    border: none; 
    font-family: monospace; 
    width: 100%; 
    margin-left: 15px;
}

#tab4 #terminal #command input { 
    padding-left: 15px; 
}

#tab4 #terminal #command #prompt { 
    position: absolute; 
    z-index: 9999; 
    font-weight: bold; 
}

#tab4 #terminal #command input:focus { 
    outline: none; 
}