textarea:focus, 
input[type="text"]:focus, 
input[type="password"]:focus, 
input[type="datetime"]:focus, 
input[type="datetime-local"]:focus, 
input[type="date"]:focus, 
input[type="month"]:focus, 
input[type="time"]:focus, 
input[type="week"]:focus, 
input[type="number"]:focus, 
input[type="email"]:focus, 
input[type="url"]:focus, 
input[type="search"]:focus, 
input[type="tel"]:focus, 
input[type="color"]:focus, 
.uneditable-input:focus *:focus, 
*:active, 
*:hover, 
*:visited, 
*:link, 
*,
.form-control {
	outline: 0 !important;
	-webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.full {
	height: 100%;
	overflow: hidden;
}

.navbar {
	background: #F56D59;
	border: none;
}

.sidebar-buttons-toggle,
.sidebar-toggle {
	position: relative;
	padding: 9px 10px;
	margin-top: 8px;
	margin-right: 15px;
	margin-bottom: 8px;
	background-color: transparent;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	display: block;
}

.sidebar-buttons-toggle .icon-bar+.icon-bar,
.sidebar-toggle .icon-bar+.icon-bar {
	margin-top: 4px;
}

.sidebar-buttons-toggle .icon-bar,
.sidebar-toggle .icon-bar {
	display: block;
	width: 22px;
	height: 2px;
	border-radius: 1px;
	background: #FFFFFF;
}

.sidebar .jstree li,
.sidebar .jstree a {
	color: #FFFFFF !important;
	background: none;
	border: 0;
	line-height: 20px;
	font-weight: 200;
	font-size: 10pt;
}

.sidebar .jstree li:hover, 
.sidebar .jstree a:hover,
.sidebar .jstree a:focus, 
.sidebar .jstree a:visited, 
.sidebar .jstree a:link, 
.sidebar .jstree a:active {
	background: none;
	border: 0;
	font-weight: 200;
}

.window {
	position: fixed;
    top: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    background: #515B6A;
}

.sidebar {
	background: #353D49;
	padding-top: 20px;
	overflow-y: auto;
}

.tree-view{
	color: #848D91;
}

.content {
	background: #515B6A;
}

.sidebar-buttons {
	background: #353D49;
}

#editor {
    margin: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: none;
    border-radius: 0;
}

::-webkit-scrollbar {
      width: 15px;
}

::-webkit-scrollbar-track {
      background-color: #515B6A;
 }
 
::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.2); 
}
 
::-webkit-scrollbar-button {
      background-color: #353D49;
      display: none;
} 
 
::-webkit-scrollbar-corner {
      background-color: black;
}

#jstree_q {
	width:calc(100% - 15px);
	margin-left: 15px;
	/*margin-bottom: 15px;*/
	border: 0;
	background: #404854;
	color: #FFFFFF;
	padding: 5px 10px;
	font-weight: 200;
}

#tree {
	background: transparent;
	margin-left: 15px;
	margin-top: 15px;
}

.col-fixed {
	width: 50px;
	position: fixed;
	right: 0;
	bottom: 0;
	top: 50px;
}

.row {
  width:calc(100% - 50px + 15px * 2);
}

.sidebar-buttons a {
	color: #FFFFFF;
	text-align: center;
	font-size: 18pt;
}

.sidebar-buttons a:hover {
	background: #333333 !important;
}

.row-gain {
	width:calc(100% + 15px * 2);
}

.tab-content {
	position: absolute;
	left: 0;
	right: 15px;
}

.nav-stacked {
	border: 0;
}

.nav-stacked li,
.nav-stacked li a {
	background: transparent;
	border: 0;
	border-radius: 0;	
	width: 50px;
	height: 50px;	
	text-align: center;
}

.nav-stacked li:hover,
.nav-stacked li a:hover {
	border: 0 !important;
	color: #FFFFFF;
}

.nav-stacked li a:active {
	background: #333333;
	border: 0 !important;
	color: #FFFFFF;
}

.nav-stacked li.active a {
	background: #333333;
	border: 0 !important;
	color: #FFFFFF;
}

.nav-stacked li.active a:hover {
	color: #FFFFFF;

}

.input-group-addon {
	background: #404854;
	color: #FFFFFF;
	border: 0;
}

.sidebar .jstree {
	margin-right: 15px !important;
}

#tab2 .sidebar {
	overflow-x: auto;
}

#tab4 #terminal {
	padding-left: 20px;
	background: #515B6A;
	font-size: 14pt;
	font-family: 'Source Code Pro', monospace;
	font-weight: 200;
	overflow-x: hidden;
}

#tab4 #terminal pre, 
#tab4 #terminal #command input[type="text"], 
#tab4 #terminal #command {
	font-size: 14pt;
	font-family: 'Source Code Pro', monospace;
	background: #515B6A;
	border: 0;
}

#tab4 #terminal .command {
	font-size: 14pt;
	font-family: 'Source Code Pro', monospace;
	color: #F56D59;
}

#tab4 #terminal .data {
	font-size: 14pt;
	font-family: 'Source Code Pro', monospace;
	color: #CCC;
}

#tree .jstree-rename-input {
	background: #404854;
	color: #FFFFFF;
	border: 0px !important;
	padding: 5px !important;
	border-radius: 3px;
}

.jstree-wholerow-hovered,
.jstree-hovered {
	background: #404854 !important;
}

.jstree-wholerow-clicked {
	background: transparent !important;
}

#tab6 .col-sm-6 {
	color: #FFFFFF;
}